/* GENERAL CSS */

:root {
    --color-bg: #ffffff;
    --dark-color: #333333;
    --light-color: #eeeeee;
    --color-text: #eeeeee;
    --primary-color: #27a320;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    font-family: "Open Sans", sans-serif;
    background-color: var(--color-bg);
    color: var(--color-text);
    overflow: overlay;
    overflow-x: hidden;
}

html {
    scroll-behavior: smooth;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2rem;
}

h1,
h2 {
    font-weight: normal;
}

p {
    margin-top: 1rem;
}

.website-link {
    margin-top: 0.5rem;
    font-size: 1.2rem;
    display: block;
}

/* SPECIFIC */

/* custom scrollbar */
::-webkit-scrollbar {
    width: 0.5rem;
}

::-webkit-scrollbar:active {
    width: 0.75rem;
}

::-webkit-scrollbar-track {
    opacity: 0;
}

::-webkit-scrollbar-thumb {
    background: #1f7119;
    border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
    background: #186115;
}

::-webkit-scrollbar-thumb:active {
    background: #154912;
}

.title {
    text-align: center;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background: url("./logo.svg") no-repeat center;
    background-color: var(--primary-color);
    background-size: auto 100%;
}

.title h1,
.title h2 {
    text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black;
}

.title h1 {
    font-size: 10vw;
}

.title h2 {
    font-size: 4vw;
}

a:link,
a:visited,
a:active {
    color: var(--primary-color);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

section {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

section .content-container {
    margin-top: 4vw;
    margin-bottom: 4vw;
    align-items: left;
}

.content-container .fa {
    margin-right: 1rem;
    margin-top: 1rem;
}

section .description {
    text-align: justify;
}

section img {
    height: auto;
    max-height: 70vh;
}

section:nth-child(odd) {
    background-color: var(--dark-color);
    color: var(--light-color);
}

section:nth-child(odd) img {
    margin-left: 50px;
}

section:nth-child(even) {
    background-color: var(--light-color);
    color: var(--dark-color);
    flex-direction: row-reverse;
}

section:nth-child(even) img {
    margin-right: 50px;
}

@media screen and (max-width: 800px) {
    section {
        display: block;
    }

    section img {
        margin-left: 0 !important;
        max-height: 50vh;
    }
}

.about-us {
    padding-top: 6rem;
    padding-bottom: 6rem;
    display: block;
    width: 100%;
    text-align: center;
    align-self: center;
}

.about-us h2 {
    margin-bottom: 2rem;
}

.about-us p {
    margin-top: 3rem;
}

.about-us a {
    display: flex;
    align-items: center;
    justify-content: center;
}

.about-us a i {
    margin-right: 1rem;
}

.scroll-prompt {
    width: 50px;
    height: 50px;
    position: fixed;
    left: 50vw;
    transform: translate(-50%, -50%);
    bottom: 10px;
}

.scroll-prompt path {
    animation-name: scroll;
    animation-duration: 1s;
    animation-timing-function: cubic-bezier(0.15, 0.41, 0.69, 0.94);
    animation-iteration-count: infinite;
}

@keyframes scroll {
    0% {
        opacity: 0;
        transform: translateY(-45px);
    }
    50% {
        transform: translateY(-15px);
        opacity: 1;
    }
    100% {
        transform: translateY(15px);
        opacity: 0;
    }
}
